<!DOCTYPE html>
<html>
  <head>
    <base target="_top" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue入力フォーム</title>
  </head>
  <body>
    <script src="https://unpkg.com/vue@3.2.34"></script>
    <div id="form-group" class="demo">
      <fieldset>
        <legend>入力フォーム</legend>
        <div>
          <label>区分</label>
          <div>
            <select v-model="form.selected">
              <option
                v-for="option in options"
                :value="option.value"
                :hidden="option.hidden"
              >
                {{ option.text }}
              </option>
            </select>
          </div>
        </div>
        <div>
          <label>名前</label>
          <div>
            <input v-model="form.name" type="text" placeholder="name" />
          </div>
        </div>
        <div>
          <label>メールアドレス</label>
          <div class="col-md-10">
            <input v-model="form.email" type="text" placeholder="xxx@xxx.com" />
          </div>
        </div>
        <div>
          <button @click="doSubmit">Submit</button>
        </div>
      </fieldset>
    </div>
    <script>
      class Form {
        constructor() {
          this.name = "";
          this.email = "";
          this.selected = "";
        }

        toDict() {
          return {
            name: this.name,
            email: this.email,
            selected: this.selected,
          };
        }
      }

      const initForm = new Form();
      Vue.createApp({
        data() {
          return {
            form: initForm.toDict(),
            options: [
              { text: "Please select one", value: "", hidden: true },
              { text: "One", value: "A", hidden: false },
              { text: "Two", value: "B", hidden: false },
              { text: "Three", value: "C", hidden: false },
            ],
          };
        },
        methods: {
          doSubmit() {
            console.log(this.form);
            if (typeof google === "undefined") {
              alert("undefined!");
              this.form = initForm.toDict();
              return;
            }
            google.script.run
              .withSuccessHandler(() => {
                alert("success!");
                this.form = initForm.toDict();
              })
              .withFailureHandler(() => {
                alert("failure!");
              })
              .doPost(this.form);
          },
        },
      }).mount("#form-group");
    </script>
    <style scoped>
      #form-group {
        max-width: 500px;
      }
    </style>
  </body>
</html>
