<!DOCTYPE html>
<html>
  <head>
    <base target="_top" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Vue入力フォーム</title>
  </head>
  <body>
    <div id="form-group" class="m-4">
      <fieldset class="border border-solid border-gray-300 p-4">
        <legend class="text-lg border-gray-300">入力フォーム</legend>
        <div class="mb-2">
          <label class="inline-block mb-1 text-gray-700">区分</label>
          <div>
            <select
              v-model="form.selected"
              class="w-full px-3 py-1.5 border border-solid border-gray-300 rounded"
            >
              <option
                v-for="option in options"
                :value="option.value"
                :hidden="option.hidden"
              >
                {{ option.text }}
              </option>
            </select>
          </div>
        </div>
        <div class="mb-2">
          <label class="inline-block mb-1 text-gray-700">名前</label>
          <div>
            <input
              v-model="form.name"
              type="text"
              class="w-full px-3 py-1.5 border border-solid border-gray-300 rounded"
              placeholder="name"
            />
          </div>
        </div>
        <div class="mb-2">
          <label class="inline-block mb-1 text-gray-700">メールアドレス</label>
          <div class="col-md-10">
            <input
              v-model="form.email"
              type="text"
              class="w-full px-3 py-1.5 border border-solid border-gray-300 rounded"
              placeholder="xxx@xxx.com"
            />
          </div>
        </div>
        <div class="flex flex-row-reverse">
          <button
            @click="doSubmit"
            class="px-6 py-1.5 bg-blue-600 text-white uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg"
          >
            送信
          </button>
        </div>
      </fieldset>
    </div>
    <script src="https://unpkg.com/vue@3.2.34"></script>
    <script lang="ts">
      const useForm = () => {
        const initForm = {
          name: "",
          email: "",
          selected: "",
        };

        const form = Vue.reactive({ ...initForm });

        const resetForm = () => {
          Object.assign(form, { ...initForm });
        };

        return {
          form,
          resetForm,
        };
      };

      Vue.createApp({
        setup() {
          const options = [
            { text: "Please select one", value: "", hidden: true },
            { text: "One", value: "A", hidden: false },
            { text: "Two", value: "B", hidden: false },
            { text: "Three", value: "C", hidden: false },
          ];

          const notification = (messages) => {
            alert(messages.join("\n"));
          };

          const { form, resetForm } = useForm();

          const doSubmit = (event) => {
            // 表示用にformをjsonに変換する。
            const json_form = JSON.stringify(form, null, 4);
            if (typeof google !== "undefined") {
              google.script.run
                .withSuccessHandler(() => {
                  notification(["success!", json_form]);
                  resetForm();
                })
                .withFailureHandler(() => {
                  notification(["failure!", json_form]);
                  resetForm();
                })
                .doPost(form);
            } else {
              notification(["google object is undefined", json_form]);
              resetForm();
            }
          };
          return {
            options,
            form,
            doSubmit,
          };
        },
      }).mount("#form-group");
    </script>
    <style scoped>
      #form-group {
        max-width: 500px;
      }
    </style>
  </body>
</html>
